<div class="login-container">
  <div class="login-card">
    <h2>Create Account</h2>

    <label>Name</label>
    <input
      type="text"
      [(ngModel)]="name"
      placeholder="Enter your name"
    />

    <label>Email</label>
    <input
      type="email"
      [(ngModel)]="email"
      placeholder="Enter email"
    />

    <label>Password</label>
    <input
      type="password"
      [(ngModel)]="password"
      placeholder="Create password"
    />

    <button (click)="register()" [disabled]="loading">
      {{ loading ? 'Creating...' : 'Register' }}
    </button>

    <p class="link-text">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
